//! \brief ${2: Class Description}
class ${1:ClassName} : public QObject
{
    Q_OBJECT
  public:
	//! \brief Constructor.
    $1(QObject *parent = 0);

  signals:

  public slots:

  private slots:

  private:


};

