//_______________________________________________________________________________________________
//
// Copyright (C) 2011                      Debiotech S.A.                        CH-1004 Lausanne
//_______________________________________________________________________________________________
//
// PROJECT  ${3:Renal Exprés RX}
//_______________________________________________________________________________________________
//
//! \file   ${1:`Filename()`}
//! \brief  ${2:Brief description}
//!
//! \author Eric Seuret
//!
//! \version $Id:$
//_______________________________________________________________________________________________

${4}
